:root {
  --primary: #e99401;
  --black: #262626;
  --white: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
[class*="contenedor"], 
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

.navegacion{
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navegacion a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: .3s ease-in-out;
}

.navegacion a:hover, .active{
  color: orange;
}


@media (min-width: 768px){

  
.nosotros-contenido{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

}

.contenedor-targets{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.justificado{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

.contenedor-blogs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 4rem 0;
}



@media (min-width: 768px){
    .contenedor-targets, .contenedor-blogs{
      grid-template-columns: repeat(3, 1fr);
    }

  
}


